<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="bodyDiv">
    <h1>Üdvözöllek az Azure világában!</h1>

    <h2><%= data.title %></h2>
    <p>NodeJS Verzió: <%= data.nodeVerison %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt quam id porttitor maximus. Vivamus quis bibendum tortor. Duis scelerisque massa eget nisi ornare, ut semper ligula sagittis. Nunc et felis eget urna efficitur bibendum. Aenean non hendrerit nunc. Maecenas porta, nunc quis placerat hendrerit, risus metus congue leo, et commodo magna eros eu ante. Cras lobortis libero eget sem auctor, eget aliquam mauris porta. Aliquam pretium magna eu nunc consequat, eget accumsan turpis malesuada. Ut nec pharetra nunc. Nullam vulputate nisl a molestie finibus. Pellentesque et metus eu mi venenatis pulvinar eu ut odio. Aenean commodo non eros ac consequat.</p>
    </div>
  </body>
</html>