# CI - folyamatos integráció

name: CI (continuous integration)

# Mikor fut?
on:
  # Összefűzési kérés indítása az alábbi branch-ekre
  pull_request_target:
    types:
      [
        opened,
        synchronize,
        reopened,
        ready_for_review,
        labeled,
        unlabeled,
        edited,
      ]
    branches:
      - main
      - demo

# Feladatok
jobs:
  ci-test:
    runs-on: ubuntu-latest
    name: Kód és funkció ellenőrzés
    steps:
      - name: Kód letöltés
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Node.js beállítás
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"
      - name: Csomagkezelő frissítés
        run: |
          # Csomagkezelő frissítése parancssori eszközzel
          npm upgrade
      - name: Függőségek telepítése
        run: |
          # Függőségek telepítése npm-mel
          npm install
      - name: JS fájlok ellenőrzése
        run: |
          # JS fájlok ellenőrzése lint segítségével
          npm run lint:js
      - name: EJS fájlok ellenőrzése
        run: |
          # EJS fájlok ellenőrzése lint segítségével
          npm run lint:ejs
      - name: HTML kód ellenőrzése
        run: |
          # HTML kód ellenőrzése lint segítségével
          npm run lint:html
      - name: Funkcionális tesztek
        run: |
          # Funkcionális tesztek futtatása
          npm run test
